
JetpackManProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
JetpackManProject/Library/CurrentLayout.dwlt
JetpackManProject/.vs/JetpackManProject/v15/.suo
JetpackManProject/Assembly-CSharp.csproj
JetpackManProject/Assets/CreatedAssets/Environment/CaveEntrance.prefab
JetpackManProject/Assets/CreatedAssets/Environment/CaveEntrance.prefab.meta
JetpackManProject/Assets/CreatedAssets/Environment/CavePerimiter.prefab
JetpackManProject/Assets/CreatedAssets/Environment/CavePerimiter.prefab.meta
JetpackManProject/Assets/CreatedAssets/Environment/Grass.prefab
JetpackManProject/Assets/CreatedAssets/Environment/TopSoil.prefab
JetpackManProject/Assets/CreatedAssets/Environment/TopSoil.prefab.meta
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleF.prefab
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleF.prefab.meta
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleFAnimationController.controller
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleFAnimationController.controller.meta
JetpackManProject/Assets/CreatedAssets/Scenes/cave_1.unity
JetpackManProject/Assets/CreatedAssets/Scenes/OverWorld.unity
JetpackManProject/Assets/CreatedAssets/Scenes/SampleScene.unity
JetpackManProject/Assets/CreatedAssets/Scripts/BarryCharacter.cs
JetpackManProject/Assets/CreatedAssets/Scripts/TentacleScript.cs
JetpackManProject/Assets/CreatedAssets/Scripts/TentacleScript.cs.meta
JetpackManProject/Assets/PackageAssets/Cave Platformer Tileset/VerticalDirt.prefab
JetpackManProject/Assets/PackageAssets/Cave Platformer Tileset/VerticalDirt.prefab.meta
JetpackManProject/Assets/PackageAssets/PixelMobs/Visual/Sprite/Resources/Mob/Tentacle_F.anim
JetpackManProject/Assets/PackageAssets/PixelMobs/Visual/Sprite/Resources/Mob/Tentacle_F.anim.meta
JetpackManProject/JetpackManProject.userprefs
JetpackManProject/Library/assetDatabase3
JetpackManProject/Library/CurrentLayout.dwlt
JetpackManProject/Library/CurrentMaximizeLayout.dwlt
JetpackManProject/Library/EditorInstance.json
JetpackManProject/Library/expandedItems
JetpackManProject/Library/metadata/45/45ea5daded21c3144bff90e1f2bcbd3d
JetpackManProject/Library/metadata/45/45ea5daded21c3144bff90e1f2bcbd3d.info
JetpackManProject/Library/metadata/4c/4cac8e924049d854c97bb577e3dc692c
JetpackManProject/Library/metadata/4c/4cac8e924049d854c97bb577e3dc692c.info
JetpackManProject/Library/metadata/68/682c52f9bfddddf4da11da09b49e3ef7
JetpackManProject/Library/metadata/68/682c52f9bfddddf4da11da09b49e3ef7.info
JetpackManProject/Library/metadata/75/755ae628486deb64e82ef9e16ddf3223
JetpackManProject/Library/metadata/75/755ae628486deb64e82ef9e16ddf3223.info
JetpackManProject/Library/metadata/8e/8e6e000f26799d645b7686b87c1b752f
JetpackManProject/Library/metadata/8e/8e6e000f26799d645b7686b87c1b752f.info
JetpackManProject/Library/metadata/a1/a11bff02243ea2f4598faf3c9f68dcf5
JetpackManProject/Library/metadata/a1/a11bff02243ea2f4598faf3c9f68dcf5.info
JetpackManProject/Library/metadata/bb/bb3210437f4eff040a3f12ee1af6922d
JetpackManProject/Library/metadata/bb/bb3210437f4eff040a3f12ee1af6922d.info
JetpackManProject/Library/metadata/d5/d570d02ab9cbb9a449a64a1e44ab0ce2
JetpackManProject/Library/metadata/d5/d570d02ab9cbb9a449a64a1e44ab0ce2.info
JetpackManProject/Library/metadata/d9/d9e4cee240bff144384bdb1602bd861a
JetpackManProject/Library/ScriptAssemblies/Assembly-CSharp.dll
JetpackManProject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
JetpackManProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
JetpackManProject/Temp/__Backupscenes/0.backup
JetpackManProject/Temp/UnityLockfile
JetpackManProject/Temp/UnityTempFile-1b9411bcb0097784b90c4352edbe9f0c
JetpackManProject/Temp/UnityTempFile-270715c01b693a047a84a070346bd435
JetpackManProject/Temp/UnityTempFile-3dac6a5aa9d34c84580373596a88dc32
JetpackManProject/Temp/UnityTempFile-99999c402e379404cb251ec958f7f709
JetpackManProject/Temp/UnityTempFile-9f5e3ae2fdaae754fbb21a02194d9271
JetpackManProject/Temp/UnityTempFile-d3a7b684b2b435647ac1eba5e530efd7
JetpackManProject/Assembly-CSharp.csproj
JetpackManProject/Assets/CreatedAssets/Environment/CaveEntrance.prefab
JetpackManProject/Assets/CreatedAssets/Environment/CaveEntrance.prefab.meta
JetpackManProject/Assets/CreatedAssets/Environment/CavePerimiter.prefab
JetpackManProject/Assets/CreatedAssets/Environment/CavePerimiter.prefab.meta
JetpackManProject/Assets/CreatedAssets/Environment/Grass.prefab
JetpackManProject/Assets/CreatedAssets/Environment/TopSoil.prefab
JetpackManProject/Assets/CreatedAssets/Environment/TopSoil.prefab.meta
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleF.prefab
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleF.prefab.meta
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleFAnimationController.controller
JetpackManProject/Assets/CreatedAssets/Mobs/TentacleFAnimationController.controller.meta
JetpackManProject/Assets/CreatedAssets/Scenes/cave_1.unity
JetpackManProject/Assets/CreatedAssets/Scenes/OverWorld.unity
JetpackManProject/Assets/CreatedAssets/Scenes/SampleScene.unity
JetpackManProject/Assets/CreatedAssets/Scripts/BarryCharacter.cs
JetpackManProject/Assets/CreatedAssets/Scripts/TentacleScript.cs
JetpackManProject/Assets/CreatedAssets/Scripts/TentacleScript.cs.meta
JetpackManProject/Assets/PackageAssets/Cave Platformer Tileset/VerticalDirt.prefab
JetpackManProject/Assets/PackageAssets/Cave Platformer Tileset/VerticalDirt.prefab.meta
JetpackManProject/Assets/PackageAssets/PixelMobs/Visual/Sprite/Resources/Mob/Tentacle_F.anim
JetpackManProject/Assets/PackageAssets/PixelMobs/Visual/Sprite/Resources/Mob/Tentacle_F.anim.meta
JetpackManProject/JetpackManProject.userprefs
JetpackManProject/Library/assetDatabase3
JetpackManProject/Library/CurrentLayout.dwlt
JetpackManProject/Library/CurrentMaximizeLayout.dwlt
JetpackManProject/Library/EditorInstance.json
JetpackManProject/Library/expandedItems
JetpackManProject/Library/metadata/45/45ea5daded21c3144bff90e1f2bcbd3d
JetpackManProject/Library/metadata/45/45ea5daded21c3144bff90e1f2bcbd3d.info
JetpackManProject/Library/metadata/4c/4cac8e924049d854c97bb577e3dc692c
JetpackManProject/Library/metadata/4c/4cac8e924049d854c97bb577e3dc692c.info
JetpackManProject/Library/metadata/68/682c52f9bfddddf4da11da09b49e3ef7
JetpackManProject/Library/metadata/68/682c52f9bfddddf4da11da09b49e3ef7.info
JetpackManProject/Library/metadata/75/755ae628486deb64e82ef9e16ddf3223
JetpackManProject/Library/metadata/75/755ae628486deb64e82ef9e16ddf3223.info
JetpackManProject/Library/metadata/8e/8e6e000f26799d645b7686b87c1b752f
JetpackManProject/Library/metadata/8e/8e6e000f26799d645b7686b87c1b752f.info
JetpackManProject/Library/metadata/a1/a11bff02243ea2f4598faf3c9f68dcf5
JetpackManProject/Library/metadata/a1/a11bff02243ea2f4598faf3c9f68dcf5.info
JetpackManProject/Library/metadata/bb/bb3210437f4eff040a3f12ee1af6922d
JetpackManProject/Library/metadata/bb/bb3210437f4eff040a3f12ee1af6922d.info
JetpackManProject/Library/metadata/d5/d570d02ab9cbb9a449a64a1e44ab0ce2
JetpackManProject/Library/metadata/d5/d570d02ab9cbb9a449a64a1e44ab0ce2.info
JetpackManProject/Library/metadata/d9/d9e4cee240bff144384bdb1602bd861a
JetpackManProject/Library/ScriptAssemblies/Assembly-CSharp.dll
JetpackManProject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
JetpackManProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
JetpackManProject/Temp/__Backupscenes/0.backup
JetpackManProject/Temp/UnityLockfile
JetpackManProject/Temp/UnityTempFile-1b9411bcb0097784b90c4352edbe9f0c
JetpackManProject/Temp/UnityTempFile-270715c01b693a047a84a070346bd435
JetpackManProject/Temp/UnityTempFile-3dac6a5aa9d34c84580373596a88dc32
JetpackManProject/Temp/UnityTempFile-99999c402e379404cb251ec958f7f709
JetpackManProject/Temp/UnityTempFile-9f5e3ae2fdaae754fbb21a02194d9271
JetpackManProject/Temp/UnityTempFile-d3a7b684b2b435647ac1eba5e530efd7
